SECRET_KEY=your-random-secret-key-here
GOOGLE_CLIENT_ID=104683787360-jspv4rf0ru38go34hsv7lst1q4rv4dpj.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:5000/auth/callback
BASE_URL=https://reformed-frenzied-semester.ngrok-free.dev
